/* styles.css */
@font-face {
  font-family: "Raleway-Thin";
  src: url("../fonts/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins-Regular";
  margin: 0;
  display: flex;
  background-color: #ffffff;
}

.sidebar {
  width: 10%;
  margin-left: 20px;
  padding: 10px;
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */
}

.logo {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}

img {
  height: 50px;
  width: 150px;
}

.nav {
  list-style: none;
  padding: 0;
}

.nav li {
  margin: 30px 0;
  cursor: pointer;
}
.nav li a {
  text-decoration: none;
  color: #212529;
  font-size: 16px;
  position: relative;
  transition: 0.5s;
}

.nav li a:hover {
  background-color: #fff;
  padding: 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.main-content {
  width: 80%;
  padding: 20px;
  margin-left: 50px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #212529;
}

.icons {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.notification-icon img,
.patient-icon img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}
.button-container {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.button {
  font-family: "Raleway-Thin";
  background-color: #1d884a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button:hover {
  background-color: #218838;
}

.button:after {
  content: ">";
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.7);
}

/* Hide buttons in header on small screens */
.header .button {
  display: none;
}

.urgent-care {
  margin-right: 10px;
}

.welcome p {
  font-size: 24px;
  margin-left: 10px;
  color: #212529;
}
.stats {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.stat-box {
  font-family: "Lato-Bold";
  width: 30%;
  padding: 20px;
  border-radius: 30px;
  text-align: start;
}

.stat-box.blue {
  background-color: #1dbaf8;
  color: #fff;
}

.stat-box.orange {
  background-color: #ff9a6c;
  color: #fff;
}

.stat-box.green {
  background-color: #25e2c0;
  color: #fff;
}

.notifications {
  margin-top: 20px;
}

.notifications h2 {
  margin: 0;
  margin-top: 30px;
}

.notifications p {
  font-family: "Raleway-Thin";
  margin-top: 30px;
  color: #212529;
}
.stat-box p {
  font-size: 26px;
}
.stats-container {
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

/* Dashboard User Icon DropDown Menu css begin here */

.profile-container {
  position: relative;
}

.profile-avatar {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

.dropdown-menu {
  position: absolute;
  top: 30px;
  right: 0;
  width: 200px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: none;
  flex-direction: column;
  z-index: 10;
}

.dropdown-menu.active {
  display: flex;
}

.dropdown-item {
  padding: 12px 16px;
  font-size: 14px;
  color: #555;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

.dropdown-item svg {
  width: 16px;
  height: 16px;
  fill: #555;
}

/* Dashboard User Icon DropDown Menu css ends here */

/* Profile Settings page begings here */

.profile-settings-container {
  background: #fff;
  padding: 20px;
  margin-top: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.profile-picture {
  position: relative;
}

.profile-picture img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

form {
  margin-top: 30px;
  text-align: left;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

#image-upload {
  position: relative;
  margin-bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  background: #1d884a;
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 14px;
}
input[type="text"],
textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

textarea {
  resize: none;
  /* height: 60px; */
}

.submit-btn {
  width: 100%;
  padding: 15px;
  background-color: #1d884a;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background: #45a049;
}
#patient-name,
#phone,
#about {
  font-family: "Poppins-Regular";
}

/* Spinner Css begins here  */
#loading-indicator {
  margin-top: 15px;
}
.spinner {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #1d884a; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}
#loading-indicator p {
  font-size: 10px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sidebar .fas {
  display: none;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .sidebar .fas {
    display: block;
    font-size: 25px;
  }
  .sidebar ul {
    background: #fff;
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  .sidebar ul li {
    display: block;
    margin: 25px;
  }

  .sidebar ul li a {
    color: #333;
  }

  .sidebar ul .fas {
    position: absolute;
    top: 20px;
    left: 45px;
    cursor: pointer;
  }
  .main-content {
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-left: 0px;
  }

  .stats {
    flex-direction: column;
    gap: 15px;
  }

  .stat-box {
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    text-align: start;
  }
}

.profile-settings-container {
  width: 330px;
}

/* * Show buttons in header only on large screens (e.g., 1024px and above) */
@media (min-width: 1024px) {
  .button-container {
    display: none; /* Hide the buttons outside the header on large screens */
  }
  .header .button {
    display: flex; /* Show the buttons inside the header on large screens */
  }
}
